# Django/backend parameters/settings
SECRET_KEY=change-me
DEBUG=True

# PostgreSQL database settings
POSTGRES_DB=transcendence
POSTGRES_USER=transcendence_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432