# Backend framework -> installs newest safe version of Django
Django==5.2.14

# PostgreSQL driver used by Django to connect to PostgreSQL (Connector)
# Install psycopg with its binary extra. (prebuilt binary)
psycopg[binary]>=3.1

# Python library/package that reads configuration values from environment variables from .env
python-decouple>=3.8

# Toolkit for building REST API endpoints with Django
# API -> a way for the frontend and backend to talk to each other
# REST uses HTTP methods
djangorestframework>=3.15

# CORS (Cross-Origin Resource Sharing) browser security rule about whether JavaScript
# on one website is allowed to send requests to another website/origin
django-cors-headers>=4.4