# Backend framework -> installs newest safe version of Django
Django==5.2.14

# PostgreSQL driver used by Django to connect to PostgreSQL (Connector)
# Install psycopg with its binary extra. (prebuilt binary)
psycopg[binary]>=3.1

# Python library/package that reads configuration values from environment variables from .env
python-decouple>=3.8

# Toolkit for building REST API endpoints with Django
# API -> a way for the frontend and backend to talk to each other
# REST uses HTTP methods
djangorestframework>=3.15

# CORS (Cross-Origin Resource Sharing) browser security rule about whether JavaScript
# on one website is allowed to send requests to another website/origin
django-cors-headers>=4.4

# Gunicorn runs the Django backend in a more deployment-style way instead of Django's development server.
# It receives backend API requests from Nginx and runs Django's WSGI application.
# WSGI is the standard contract/rule that lets a Python web server (Gunicorn)
# communicate with a Python web app (Django).
# Gunicorn's job is to sit on port 8000 inside the backend container and receive requests from Nginx
gunicorn>=23.0